/*todo: Додай оформлення елементів інтерфейсу згідно з макетом. */

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.timer {
}
.field {
}
.value {
}
.label {
}
button[data-start] {
	cursor: pointer;
}
button:disabled {
	cursor: default;
}
#datetime-picker:disabled {
	cursor: default;
}
