/*todo: Додай оформлення елементів інтерфейсу згідно з макетом. */
body {
	font-family: "Montserrat", sans-serif;
	letter-spacing: 0.04em;
	line-height: 1.5;
	color: #2e2f42;
}
p {
	margin: 0;
}
input {
	margin: 0;
	padding: 0;
}
button {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.wrapper {
	margin: 0 auto;
	width: max-content;
}

.timer {
	display: flex;
	gap: 24px;
	margin-top: 32px;
}
.field {
	display: inline-flex;
	align-items: center;
	flex-direction: column;
}
.value {
	font-size: 40px;
	line-height: 1.2;
}
.label {
	text-transform: uppercase;
}
button {
	cursor: pointer;
	border: 0px;
	border-radius: 8px;
	padding: 8px 16px;
	height: 40px;

	min-width: 75px;

	font-weight: 500;
	background: #4e75ff;
	color: #fff;
}
button:disabled {
	cursor: default;
	background: #cfcfcf;
	color: #989898;
}
button:disabled:hover {
	background: #cfcfcf;
}
button:hover {
	background: #6c8cff;
}
#datetime-picker {
	border: 1px solid #808080;
	border-radius: 4px;
	width: 272px;
	height: 40px;
	padding: 8px 16px;

	line-height: 1.5;
	letter-spacing: 0.04em;

	color: #2e2f42;
}
#datetime-picker:disabled {
	cursor: default;
	background: #fafafa;
	color: #808080;
}
#datetime-picker:hover {
	border: 1px solid #000;
}
#datetime-picker:focus-within {
	color: #000;
	border: 1px solid #4e75ff;
	outline: none;
}
.form {
	max-width: 360px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

input[name="delay"] {
	width: 100%;
	border: 1px solid #808080;
	border-radius: 4px;
	height: 40px;
	margin-top: 8px;
	margin-bottom: 16px;
	padding: 8px 16px;
}
input[name="delay"]:hover {
	border-color: #000;
}
input[name="delay"]:focus-within {
	border: 1px solid #4e75ff;
	outline: none;
}

.form fieldset {
	border: 1px solid #808080;
	border-radius: 4px;
	margin: 0 0 16px 0;
}
.form fieldset:hover {
	border-color: #000;
}
